$body-color: black;
$up-top:25%;
$down-top:56%;
$sec-left:55%;
$min-left:45%;
$start-stop:80%;
$start-left:50%;
$start-border:44px solid;
$stop-left:60%;
body {
	color: $body-color;
	background-color: lightgray;
}

#timer{
	border:solid ;
	border-width: 10px;
	border-radius: 8px;
	width:400px ;
	height: 150x;
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
	p {
		margin: 0px;
		font-size: 100px;
		text-align:center;
	}

}

.simple_btn {
	position: absolute;
	width: 80px;
	height: 80px;
	border: 15px solid;
	background-color:lightgray;
	outline:0;
	transform: translateY(50%) translateX(-50%) rotate(135deg);
	cursor:pointer;
	&.secup {
		top: $up-top;
		left: $sec-left;
		border-color:  transparent transparent $body-color $body-color;
	}
	&.secdown {
		top: $down-top;
		left: $sec-left;
		border-color:  $body-color $body-color transparent transparent;
	}
	&.minup {
		top: $up-top;
		left: $min-left;
		border-color:  transparent transparent $body-color $body-color;
	}
	&.mindown {
		top: $down-top;
		left: $min-left;
		border-color:  $body-color $body-color transparent transparent;
	}
	&.start {
		top: $start-stop;
		left: $start-left;
		border: $start-border;
		border-color:  $body-color transparent transparent $body-color ;
	}
	&.stop {
		top: $start-stop;
		left: $stop-left;
		transform: translateY(50%) translateX(-50%) ;
		border-color:  $body-color $body-color transparent transparent $body-color ;
	}

}
